Source: heatload
Section: x11
Priority: optional
Maintainer: Malte Thoma <thoma@muenster.de>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.8

Package: heatload
Architecture: any
Depends: ${shlibs:Depends}
Description: Graphical and nummerical ACPI- and CPU-load-monitor applett for X11
 This Gtk utility produces nice looking realtime graphs for the
 current CPU-load and some ACPI-values (eg. temperature, battery) of your
 Linux machine. It is nice for monitoring the direct relation of 
 the former to the latter.
